@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito.ttf");
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1rem 1rem;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    color: #444444;
}

h1 {
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #EEEEEE;
    font-size: 2rem;
}

a {
    color: #2d77a4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 1rem;
}

button {
    padding: 0.4rem 0.8em;
    background-color: #2d77a4;
    border: 0;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
}

button:not(.visible) {
    display: none;
}

button:hover,
button:focus {
    background-color: #286991;
}

button:active {
    background-color: #235b7d;
}

main {
    flex: 1;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;
}

ul a {
    display: inline-flex;
}

ul svg {
    width: 2.5rem;
    height: 2.5rem;
    filter: grayscale(1);
    opacity: 0.8;
    transition: filter, opacity 100ms ease-out;
}

ul a:hover svg,
ul a:focus svg,
ul a:active svg {
    filter: grayscale(0);
    opacity: 1;
}

footer {
    text-align: right;
    font-size: 1rem;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.3rem;
    margin: 0;
}

footer svg {
    width: 1.2rem;
    height: 1.2rem;
}